student_resource/dataset/
student_resource/preprocessed/
student_resource/output/
**/*.parquet
**/*.tsv
**/__pycache__/
**/*.pyc
student_resource/work*/
**/catboost_info/
*.zip
__MACOSX/
**/.DS_Store
